
body{
    width: 100%;
    margin: auto;
}
nav{
    height: 60px;
    background-color: rgb(1, 35, 72);
    display: flex;
    color: white;
    position: relative;
    bottom: 0;
}
nav .nav-logo-container{
    position: relative;
    bottom: 15%;
    left: 5%;
    width: 140px;
    height: 80px;
}
nav .nav-logo-container img{
    height: 100%;
    width: 100%;
}
.nav-ul-items{
    margin: auto;
}
.nav-ul-items ul li{
    font-size: 15px;
    font-weight: 600;
    padding-right: 15px;
    display: inline-block;
}

.icon{
    position: relative;
    left: 80%;
}
.icon-two{
    height: 20px;
    width: 20px;
    border: solid;
    position: relative;
    top: 12px;
    left: 70%;
}
.ri-english-input{
    position: relative;
    left: 2px;
    bottom: 15px;
}
h2{
    position: relative;
  bottom: 10px;
  left: 5%;
}
.nav-bar-search{
    
    color: rgb(55, 243, 86);
    font-weight: 900;
    font-size: 20px;
}
.nav-bar-close{
    font-size: 20px;
    color: red;
}